@using MVCBanXeDap.ViewModels

<div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBrandModalLabel">Thêm thương hiệu mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateBrand" asp-controller="Brand" id="addBrandForm" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label">Tên thương hiệu</label>
                        <input type="text" class="form-control" id="TenThuongHieu" name="TenThuongHieu" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary" form="addBrandForm">Lưu</button>
            </div>
        </div>
    </div>
</div>