
<style type="text/css">
    .css_select_div {
        text-align: center;
    }

    .css_select {
        display: inline-table;
        width: 25%;
        padding: 5px;
        margin: 5px 2%;
        border: solid 1px #686868;
        border-radius: 5px;
    }
</style>
<div class="modal fade" id="addShippingModal" tabindex="-1" aria-labelledby="addShippingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addShippingModalLabel">Thêm thông tin vận chuyển mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="mb-3">
                        <label for="tinh" class="form-label">Tỉnh Thành</label>
                        <select class="form-select" id="tinh" name="tinh" title="Chọn Tỉnh Thành" required>
                            <option value="0" selected disabled>Chọn Tỉnh Thành</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="quan" class="form-label">Quận Huyện</label>
                        <select class="form-select" id="quan" name="quan" title="Chọn Quận Huyện" required>
                            <option value="0" selected disabled>Chọn Quận Huyện</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="phuong" class="form-label">Phường Xã</label>
                        <select class="form-select" id="phuong" name="phuong" title="Chọn Phường Xã" required>
                            <option value="0" selected disabled>Chọn Phường Xã</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="Gia" class="form-label">Giá Tối Thiểu</label>
                        <input type="number" class="form-control" id="Gia" name="Gia" min="0" required placeholder="Nhập giá vận chuyển">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="addShippingButton">Lưu</button>
            </div>
        </div>
    </div>
</div>

<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function() {
        //Lấy tỉnh thành
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
            if(data_tinh.error==0){
               $.each(data_tinh.data, function (key_tinh,val_tinh) {
                  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.full_name+'</option>');
               });
               $("#tinh").change(function(e){
                    var idtinh=$(this).val();
                    //Lấy quận huyện
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
                        if(data_quan.error==0){
                           $("#quan").html('<option value="0">Quận Huyện</option>');
                           $("#phuong").html('<option value="0">Phường Xã</option>');
                           $.each(data_quan.data, function (key_quan,val_quan) {
                              $("#quan").append('<option value="'+val_quan.id+'">'+val_quan.full_name+'</option>');
                           });
                           //Lấy phường xã
                           $("#quan").change(function(e){
                                var idquan=$(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
                                    if(data_phuong.error==0){
                                       $("#phuong").html('<option value="0">Phường Xã</option>');
                                       $.each(data_phuong.data, function (key_phuong,val_phuong) {
                                          $("#phuong").append('<option value="'+val_phuong.id+'">'+val_phuong.full_name+'</option>');
                                       });
                                    }
                                });
                           });

                        }
                    });
               });

            }
        });
     });

     //Xử lí gửi thông tin đến server
     document.getElementById("addShippingButton").addEventListener("click", function(e){
        e.preventDefault();
        const tinh = document.getElementById("tinh");
        const tinhSelected = tinh.options[tinh.selectedIndex].text;
        const phuong = document.getElementById("phuong");
        const phuongSelected = phuong.options[phuong.selectedIndex].text;
        const quan = document.getElementById("quan");
        const quanSelected = quan.options[quan.selectedIndex].text;
        const gia = document.getElementById("Gia");
        const model = {
            gia: gia.value,
            phuong: phuongSelected,
            quanHuyen: quanSelected,
            thanhPho: tinhSelected
        }
        const isconfirm = window.confirm("Bạn có muốn thêm thông tin vận chuyển này không?")
        if(!isconfirm){
            return false;
        }
        var token = @Html.Raw(Json.Serialize(ViewBag.Token));
        fetch(`https://localhost:7137/api/Shippings/CreateShipping`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': `bearer ${token}`
            },
            body: JSON.stringify(model) 
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            var message = data.message;
            if (data.success) {
                sessionStorage.setItem("notification", JSON.stringify({ type: "success", message: message }));
                window.location.reload();
            } else {
                toastr.error(data.message);
            }          
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
            toastr.error('Có lỗi xảy ra khi gửi yêu cầu.');
        });
    });
    window.addEventListener("load", function () {
    const notification = sessionStorage.getItem("notification");

        if (notification) {
            const { type, message } = JSON.parse(notification);

            if (type === "success") {
                toastr.success(message);
            } 
            sessionStorage.removeItem("notification");
        }
    });
</script>